# Sales Forecasting of Major Retail Clothing Product Categories using Regression and Time Series Analysis

**Problem Description:** Building a framework that provides monthly forecasts of the 12 months (ie., from Jan 2016 to Dec 2106) for "Womenclothing" product category with influencing factors of the sales such as holiday events, weather changes, Macroeconomic factors etc using the Regression model.

**How this Business problem is converted into a Machine Learning problem and how it will help the business?**

A leading retailer in USA, wants to forecast sales for their product categories in their store based on the sales history of each category. Sales forecast has very high influence on the performance of the company’s business and hence these sales forecasts can be used to estimate company’s success or performance in the coming year. Accurate forecasts may lead to better decisions in business. Sales or revenues forecasting is very important for retail operations. Forecasting of retail sales helps retailer to take necessary measures to plan their budgets or investments in a period (monthly, yearly) among different product categories like women clothing, men clothing and other clothing and at the same time they can plan to minimize revenue loss from unavailability of products by investing accordingly.The good news is that powerful Machine Learning (ML) algorithm can help to forecast sales of different category clothng product for next few years.

**Data**: There are 4 datasets 
1. Macro Economic Dataset 
2. Events and Holidays Dataset 
3. Weather Data Set 
4. Train Data (Sales and the Year/Month)

#####                                                                                 Sales Data Description
    AttributeName                  Type               Description
    Year                           temporal            Year
    Month                          temporal            Month
    ProductCategory                categorical         Clothing Products category - WomenClothing, MenClothing,OtherClothing
    Sales(In ThousandDollars)      numeric             Value of the sales or revenue in thousand dollars

#### Weather Data Description
    
    AttributeName                             Description                                                 ActualType
    Year                                       Year                                                        Temporal
    Month                                      Month                                                       Temporal
    Day                                        Day                                                         Temporal
    Temp high (°C)                             Temperature HighInF                                         numeric
    Temp avg (°C)                              Temperature AvgInF                                          numeric
    Temp low (°C)                              Temperature LowinF                                          numeric
    Dew Point high (°C)	                       DewPointHighInF	                                           numeric
    Dew Point avg (°C)	                       DewPointAvginF	                                           numeric
    Dew Point low (°C)	                       DewPointLowinF	                                           numeric
    Humidity (%) high	                       Humidity HighPercent	                                       numeric
    Humidity (%) avg	                       Humidity AvgPercent	                                       numeric
    Humidity (%) low	                       Humidity LowPercent	                                       numeric
    Sea Level Press.(hPa) high	               Sea Level Pressure High_hPa	                               numeric
    Sea Level Press.(hPa) avg	               Sea Level Pressure Avg_hPa	                               numeric
    Sea Level Press.(hPa) low	               Sea Level Pressure Low_hPa	                               numeric
    Visibility (km) high	                   Visibility HighInKM	                                       numeric
    Visibility (km) avg	                       Visibility AvgInKM	                                       numeric
    Visibility (km) low	                       Visibility LowInKM	                                       numeric
    Wind (km/h) low	Wind                       LowInKmperhour	                                           numeric
    Wind (km/h) avg	Wind                       AvgInKmperhour	                                           numeric
    Wind (km/h) high Wind                      HighInKmperhour	                                           numeric
    Precip. (mm) sum	                       Precipitation sum in mm	                           numeric values and character
    WeatherEvent	                           Details of weather like snow, rain, fog etc	               categorical

##### Events Holiday Data Description

     AttributeName                    Description	                                   ActualType
           Year	                        Year	                                        Temporal
           MonthDate	                Month and date combination	                    Temporal
           Event	                    Details of special event or holiday	            categorical
           DayCategory	                Whether federal holiday or event	            categorical

##### MacroEconomic Data Description

    AttributeName	                                 Description	                                         ActualType
    1.Year-Month	                            Combination of Year and month	                               Temporal
    2.MonthlyNominal GDP Index 	                Monthly NominalGDPIndex In Million Dollars	                   numeric
    3.Monthly Real GDP Index 	                Monthly RealGDPIndex In Million Dollars	                       numeric
    4.CPI	                                    CPI	                                                           numeric
    5.PartyInPower	                            Political party which is in power	                           categorical
    6.unemployment rate	                        unemployment rate	                                           numeric
    7.CommercialBankInterestRateon
    8.CreditCardPlans Commercial Bank           Interest Rate on Credit Card Plans	                           numeric
    9.Finance Rate on Personal Loans  
    at Commercial Banks, 24 Month Loan	        Finance Rate on Personal Loans 
                                                at CommercialBanks_24MonthLoan	                               numeric                                                                                
    10.Earnings or wages in dollars per hour	Earnings or wages in dollars per hour	                       numeric
    11.AdvertisingExpenses                      Expenses for ads in thousand dollars	                       numeric
    12.Cotton Monthly Price                     Cotton Monthly Price_US cents per Pound_lbs	                   numeric
    13.Change Percentage                        Change In Mly Cotton Price	                                   numeric
    14.Average upland planted	                Average upland Cotton planted In Million Acres	               numeric
    15.Average upland harvested             	Average upland Cotton harvested In Million Acres	           numeric
    yieldperharvested acre	                    Cotton yield per harvested acre( in pounds ie lbs)	           numeric        
    16.Production	                            Cotton Production In480_l bnetweight in Million Bales          numeric
    17.Mill use	                                Cotton Mill Use In480_lb netweight in Million Bales	           numeric
    18.Exports Cotton                           Explorts In480_lb netweight in Million Bales	               numeric

### Importing Required Pacakges

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import style
from IPython.display import Image
from sklearn import preprocessing
from sklearn import feature_selection
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
from statsmodels.formula.api import ols
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV, StratifiedKFold
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import Ridge,Lasso
import xgboost as xgb
import warnings
warnings.filterwarnings("ignore")

C:\Users\Riyaz Mehendi\anaconda3\envs\venv1\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

### Loading the Files and Reading the Data

Reading all the given files Train.csv, Events_HolidaysData.xlsx, MacroEconomicData.xlsx & WeatherDataNew.xlsx into pandas using pd.read() function.

In [2]:
os.getcwd()

'C:\\Users\\Riyaz Mehendi\\OneDrive - CriticalRiver Technologies Pvt. Ltd\\Desktop\\Retail_Sales_Forecast\\src\\models'

In [3]:
os.chdir('C:\\Users\\Riyaz Mehendi\\OneDrive - CriticalRiver Technologies Pvt. Ltd\\Desktop\\Retail_Sales_Forecast\\src\\Data')

In [4]:
Train_Data = pd.read_csv("Train.csv")
EventHolidays_Data = pd.read_excel("Events_HolidaysData.xlsx")
Macroeconomic_Data = pd.read_excel("MacroEconomicData.xlsx")
Weather_Data_xlsx = pd.ExcelFile("WeatherData.xlsx")

### Understanding the Data

##### 1) Train Sales Data

In [5]:
#Checking top 5 rows of Train Data
Train_Data.head(5)

   Year  Month ProductCategory  Sales(In ThousandDollars)
0  2009      1   WomenClothing                     1755.0
1  2009      1     MenClothing                      524.0
2  2009      1   OtherClothing                      936.0
3  2009      2   WomenClothing                     1729.0
4  2009      2     MenClothing                      496.0

In [6]:
#Checking bottom 5 rows of Train Data
Train_Data.tail(5)

     Year  Month ProductCategory  Sales(In ThousandDollars)
247  2015     11     MenClothing                      643.0
248  2015     11   OtherClothing                     1478.0
249  2015     12   WomenClothing                     5874.0
250  2015     12     MenClothing                      967.0
251  2015     12   OtherClothing                     1680.0

In [7]:
#Checking the Dimension
print("Shape of Train data is:")
Train_Data.shape

Shape of Train data is:

(252, 4)

In [8]:
#Checking the datatypes
Train_Data.dtypes

Year                           int64
Month                          int64
ProductCategory               object
Sales(In ThousandDollars)    float64
dtype: object

In [9]:
#As ProdcutCategory is categorical so checking the count value of its 3 category
Train_Data['ProductCategory'].value_counts()

WomenClothing    84
MenClothing      84
OtherClothing    84
Name: ProductCategory, dtype: int64

#### 2) Event_Holidays Data

In [10]:
EventHolidays_Data = EventHolidays_Data[EventHolidays_Data['Year'] < 2016]

In [11]:
EventHolidays_Data.head()

   Year  MonthDate                       Event      DayCategory
0  2009 2001-01-01              New Year's Day  Federal Holiday
1  2009 2019-01-01  Martin Luther King Jr. Day  Federal Holiday
2  2009 2014-02-01             Valentine's Day            Event
3  2009 2016-02-01             Presidents' Day  Federal Holiday
4  2009 2012-04-01               Easter Sunday            Event

In [12]:
EventHolidays_Data.tail()

     Year  MonthDate                    Event      DayCategory
125  2015 2026-11-01         Thanksgiving Day  Federal Holiday
126  2015 2024-12-01            Christmas Eve            Event
127  2015 2025-12-01            Christmas Day  Federal Holiday
128  2015 2026-12-01  Day After Christmas Day            Event
129  2015 1931-12-01           New Year's Eve            Event

In [13]:
#Checking the datatypes
print("Datatypes of each columns:")
print(EventHolidays_Data.dtypes)

Datatypes of each columns:
Year                    int64
MonthDate      datetime64[ns]
Event                  object
DayCategory            object
dtype: object

In [14]:
#Checking for  Daycategory column and their counnt values
print("The categories and their count in 'DayCategory' column:")
print(EventHolidays_Data.DayCategory.value_counts())

The categories and their count in 'DayCategory' column:
Federal Holiday    77
Event              53
Name: DayCategory, dtype: int64

In [15]:
#Checking all the event columns count value
print(EventHolidays_Data.Event.value_counts())

New Year's Day                 7
Labor Day                      7
New Year's Eve                 7
Christmas Day                  7
Christmas Eve                  7
Thanksgiving Day               7
Veterans Day                   7
Halloween                      7
Martin Luther King Jr. Day     7
Columbus Day (Most regions)    7
Independence Day               7
Father's Day                   7
Memorial Day                   7
Mother's Day                   7
Easter Sunday                  7
Presidents' Day                7
Valentine's Day                7
'Independence Day' observed    3
'Christmas Day' observed       2
'New Year's Day' observed      2
Thomas Jefferson's Birthday    2
Election Day                   1
Day After Christmas Day        1
Name: Event, dtype: int64

#### 3) MacroEconomic Data

In [16]:
Macroeconomic_Data

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.170,11.550
1,2009 - Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.870,11.100
2,2009 - Mar,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.720,11.650
3,2009 - Apr,14326.815525,14351.601731,235.582,Democrats,9.0,12.97,11.05,22.13,214,56.78,10.25,9.296,7.559,787,12.400,3.620,12.225
4,2009 - May,14345.904809,14368.123959,235.975,Democrats,9.4,13.32,11.25,22.04,?,61.95,9.11,9.297,7.400,803,12.384,3.520,12.300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,2016 - Aug,18741.599947,16797.206610,264.160,Democrats,4.9,12.51,9.64,25.52,?,80.26,-0.99,9.824,9.340,787,15.314,3.575,10.950
92,2016 - Sep,18840.309646,16852.562745,264.602,Democrats,4.9,12.51,9.64,25.74,?,77.86,-2.99,9.950,9.464,790,15.580,3.475,10.950
93,2016 - Oct,18740.780023,16725.460098,264.738,Democrats,4.8,12.51,9.64,26.04,?,78.52,0.85,9.950,9.464,785,15.472,3.475,11.425
94,2016 - Nov,18960.461568,16910.896330,265.203,Democrats,4.6,12.41,9.45,25.87,?,78.92,0.51,9.950,9.464,791,15.600,3.475,11.425
95,2016 - Dec,19015.393408,16918.050624,265.421,Democrats,4.7,12.41,9.45,25.90,?,79.50,0.73,9.950,9.464,810,15.962,3.275,11.600

In [17]:
Macroeconomic_Data.tail(15)

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
81,2015 - Oct,18278.304270,16540.859723,261.515,Democrats,5.0,12.10,9.80,25.14,183,69.03,0.42,8.398,8.012,772,12.887,3.675,9.700
82,2015 - Nov,18266.244605,16524.199494,261.009,Democrats,5.0,12.22,9.66,25.38,?,69.22,0.28,8.398,7.995,770,12.830,3.675,9.700
83,2015 - Dec,18317.129125,16578.004544,259.941,Democrats,5.0,12.22,9.66,25.21,?,70.39,1.69,8.398,7.995,755,12.580,3.675,9.500
84,2016 - Jan,18286.638523,16546.153123,260.342,Democrats,4.9,12.22,9.66,25.50,?,68.75,-2.33,8.422,7.922,758,12.508,3.575,9.525
85,2016 - Feb,18241.713812,16503.500358,260.875,Democrats,4.9,12.31,10.03,25.49,?,66.57,-3.17,8.422,7.922,758,12.508,3.575,9.050
86,2016 - Mar,18447.208665,16665.282018,261.508,Democrats,5.0,12.31,10.03,25.49,?,65.46,-1.67,8.422,7.903,760,12.508,3.575,9.050
87,2016 - Apr,18533.936749,16693.629326,262.619,Democrats,5.0,12.31,10.03,25.60,?,69.28,5.84,8.422,7.903,756,12.440,3.575,9.025
88,2016 - May,18498.121164,16627.183697,263.312,Democrats,4.7,12.16,9.65,25.68,?,70.28,1.44,8.422,7.920,755,12.455,3.575,8.500
89,2016 - Jun,18582.059087,16669.876781,263.877,Democrats,4.9,12.16,9.65,25.42,?,74.10,5.44,9.347,8.588,792,12.165,3.575,9.950
90,2016 - Jul,18605.480407,16684.743184,263.722,Democrats,4.9,12.16,9.65,25.53,?,81.06,9.39,9.824,9.104,802,15.215,3.575,10.950
91,2016 - Aug,18741.599947,16797.206610,264.160,Democrats,4.9,12.51,9.64,25.52,?,80.26,-0.99,9.824,9.340,787,15.314,3.575,10.950
92,2016 - Sep,18840.309646,16852.562745,264.602,Democrats,4.9,12.51,9.64,25.74,?,77.86,-2.99,9.950,9.464,790,15.580,3.475,10.950
93,2016 - Oct,18740.780023,16725.460098,264.738,Democrats,4.8,12.51,9.64,26.04,?,78.52,0.85,9.950,9.464,785,15.472,3.475,11.425
94,2016 - Nov,18960.461568,16910.896330,265.203,Democrats,4.6,12.41,9.45,25.87,?,78.92,0.51,9.950,9.464,791,15.600,3.475,11.425
95,2016 - Dec,19015.393408,16918.050624,265.421,Democrats,4.7,12.41,9.45,25.90,?,79.50,0.73,9.950,9.464,810,15.962,3.275,11.600

In [18]:
Macroeconomic_Data = Macroeconomic_Data.iloc[:84]

In [19]:
Macroeconomic_Data.head()

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550
1,2009 - Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100
2,2009 - Mar,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650
3,2009 - Apr,14326.815525,14351.601731,235.582,Democrats,9.0,12.97,11.05,22.13,214,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225
4,2009 - May,14345.904809,14368.123959,235.975,Democrats,9.4,13.32,11.25,22.04,?,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300

In [20]:
Macroeconomic_Data.tail()

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
79,2015 - Aug,18201.392888,16505.537615,261.347,Democrats,5.1,12.10,9.80,25.04,?,71.82,-0.73,8.750,7.749,784,12.650,3.675,9.475
80,2015 - Sep,18317.816120,16601.489879,261.887,Democrats,5.0,12.10,9.80,25.05,?,68.74,-4.29,8.398,8.012,777,12.977,3.675,9.700
81,2015 - Oct,18278.304270,16540.859723,261.515,Democrats,5.0,12.10,9.80,25.14,183,69.03,0.42,8.398,8.012,772,12.887,3.675,9.700
82,2015 - Nov,18266.244605,16524.199494,261.009,Democrats,5.0,12.22,9.66,25.38,?,69.22,0.28,8.398,7.995,770,12.830,3.675,9.700
83,2015 - Dec,18317.129125,16578.004544,259.941,Democrats,5.0,12.22,9.66,25.21,?,70.39,1.69,8.398,7.995,755,12.580,3.675,9.500

In [21]:
#Checking the datatypes of all the coulmns in data
print("Datatypes of each columns :")
print(Macroeconomic_Data.dtypes)

Datatypes of each columns :
Year-Month                                                            object
Monthly Nominal GDP Index (inMillion$)                               float64
Monthly Real GDP Index (inMillion$)                                  float64
CPI                                                                  float64
PartyInPower                                                          object
unemployment rate                                                    float64
CommercialBankInterestRateonCreditCardPlans                          float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    float64
Earnings or wages  in dollars per hour                               float64
AdvertisingExpenses (in Thousand Dollars)                             object
Cotton Monthly Price - US cents per Pound(lbs)                       float64
Change(in%)                                                          float64
Average upland planted(million acres)                                float64
Average upland harvested(million acres)                              float64
yieldperharvested acre                                                 int64
Production (in  480-lb netweright in million bales)                  float64
Mill use  (in  480-lb netweright in million bales)                   float64
Exports                                                              float64
dtype: object

In [22]:
# Printing the statistics of the macro economic table
Macroeconomic_Data.describe(include = 'all')

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
count,84,84.000000,84.000000,84.000000,84,84.000000,84.000000,84.000000,84.000000,84,84.00000,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000
unique,84,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2009 - Jan,NaN,NaN,NaN,Democrats,NaN,NaN,NaN,NaN,?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,84,NaN,NaN,NaN,NaN,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,16185.164250,15382.177925,250.802214,NaN,7.813095,12.546310,10.552976,23.528214,NaN,93.43750,0.548095,10.848500,8.872893,793.726190,14.707262,3.560548,11.184702
std,NaN,1253.746581,675.723245,8.857567,NaN,1.567961,0.767406,0.514015,0.965616,NaN,35.24268,7.260963,1.737794,1.147233,26.034431,2.048080,0.165603,1.748363
min,NaN,14317.372922,14345.676097,233.402000,NaN,5.000000,11.820000,9.570000,21.960000,NaN,51.50000,-23.590000,8.398000,7.345000,747.000000,11.751000,3.275000,9.220000
25%,NaN,15141.218900,14837.054004,241.797750,NaN,6.525000,11.947500,10.130000,22.667500,NaN,71.76000,-2.665000,9.296000,7.582000,774.000000,12.589000,3.380000,9.900000
50%,NaN,16156.742054,15358.374219,252.529000,NaN,8.150000,12.100000,10.710000,23.500000,NaN,85.65000,0.190000,10.769000,9.173500,792.000000,14.959000,3.567500,10.637500
75%,NaN,17134.548940,15848.863585,259.074250,NaN,9.100000,13.350000,10.940000,24.327500,NaN,94.70000,3.482500,12.077000,9.692000,807.000000,16.290750,3.675000,11.650000
max,NaN,18317.816120,16601.489879,261.887000,NaN,10.000000,14.260000,11.440000,25.380000,NaN,229.67000,22.850000,14.431000,10.577000,869.000000,18.375000,4.170000,15.280000

#### 4) Weather Data

As we see that weather dataset has different sheets with specific years data so Creating a single dataframe from the given tables

In [ ]:
## Adding each sheet from the excel file to a list of dataframes.
Weather_Data_list = []
for i in range(0,len(Weather_Data_xlsx.sheet_names)):
    Weather_Data_list.append(Weather_Data_xlsx.parse(Weather_Data_xlsx.sheet_names[i])) 
    
    # Setting the Year column with proper values
    Weather_Data_list[i].Year = Weather_Data_xlsx.sheet_names[i]

# Shifting each row one step upwards in the dataframe.
Weather_Data_list[5].loc[:,"Temp high (°C)":"WeatherEvent"] = Weather_Data_list[5].loc[:,"Temp high (°C)":"WeatherEvent"]\
.shift(-1)
Weather_Data_list[5] = Weather_Data_list[5][:-1].copy()

# Combining list of weather datas into a single dataframe
Weather_Data = pd.DataFrame()
for df in Weather_Data_list:
    Weather_Data = pd.concat([Weather_Data,df])

In [ ]:
#checking the top 5 rows
Weather_Data.head()

In [ ]:
#checking the  bottom 5 rows
Weather_Data.tail()

In [ ]:
#checking the datatypes
Weather_Data.dtypes

##### Indexing all the dataframes with Date as index

Pandas set_index() is a method to set a List or Series as index of a Data Frame. So as observed month date and year column in every data so here in all the four DataFrames we made new column 'Date' and set it as index.

#### 1) Train Sales Data

In [ ]:
Train_Data['Date'] = Train_Data.Year.astype(str).str.cat(Train_Data.Month.astype(str), sep='-')
Train_Data['Date'] = pd.to_datetime(Train_Data.Date.astype(str) + "-1")
Train_Data.set_index('Date', inplace = True)
Train_Data.drop(["Year","Month"],axis =1, inplace=True)

In [ ]:
Train_Data.head(5)

In [ ]:
Train_Data.to_csv("C:\\Users\\Riyaz Mehendi\\OneDrive - CriticalRiver Technologies Pvt. Ltd\\Desktop\\Retail_Sales_Forecast\\data\\processed\\Indexed_Train_Data.csv")

#### 2) Holidays Data

In [ ]:
# Extracting the date and month from the 'MonthDate' column.
EventHolidays_Data.MonthDate = EventHolidays_Data.MonthDate.astype(str).str[2:7]

In [ ]:
## Joining two columns year and  monthdate as new single column 'Date'.
EventHolidays_Data['Date'] = pd.to_datetime(EventHolidays_Data.Year.astype(str).str.cat(EventHolidays_Data.MonthDate.astype(str), sep='-'), format='%Y-%d-%m')
EventHolidays_Data.drop(["Year","MonthDate"],axis =1, inplace=True)
EventHolidays_Data.set_index('Date', inplace = True)

In [ ]:
EventHolidays_Data.head(5)

In [ ]:
EventHolidays_Data.tail(5)

#### 3) MacroEconomic Data

In [ ]:
### Making column year-month as new single column 'Date'.
Macroeconomic_Data.rename(columns = {'Year-Month':'Date'}, inplace = True)
Macroeconomic_Data['Date'] = pd.to_datetime(Macroeconomic_Data.Date.astype(str) + "-1")
Macroeconomic_Data.set_index('Date', inplace = True)

In [ ]:
Macroeconomic_Data.head(5)

In [ ]:
Macroeconomic_Data.tail(5)

#### 4) Weather Data

In [ ]:
### Making column year-month as new single column 'Date'.
Weather_Data['Date'] = pd.to_datetime(Weather_Data.Year.astype(str).str.cat(Weather_Data.Month.astype(str), sep='-')\
                                      .str.cat(Weather_Data.Day.astype(str), sep='/'))
Weather_Data.drop(["Year","Month","Day"],axis =1, inplace=True)
Weather_Data.set_index('Date', inplace = True)

In [ ]:
Weather_Data.head(5)

In [ ]:
Weather_Data.tail(5)

### Exploratory Data Analysis (EDA)  and Data Preprocessing

#### 1. Train Sales Data

Checking for Null values

In [ ]:
Train_Data.isnull().sum()

As it is numeric data so we will impute them using Mean value

In [ ]:
Train_Data.isnull().mean()

In [ ]:
trainmean=Train_Data["Sales(In ThousandDollars)"].mean()
trainmean

In [ ]:
Train_Data["Sales(In ThousandDollars)"]=Train_Data["Sales(In ThousandDollars)"].fillna(trainmean)

In [ ]:
Train_Data.isnull().sum()

Our missing values got imputed with mean value

Now Lets visualize Countplot on three categories

In [ ]:
plt.title('Count value across all product category')
plt.xlabel('values')
plt.ylabel(' Product categories')
Train_Data["ProductCategory"].value_counts().plot(kind='barh')

From above plot we observed that all the 3 categories of 'ProductCategory' has same count value of 84.

In [ ]:
g = sns.FacetGrid(data=Train_Data,col='ProductCategory')
g.map(plt.hist,'Sales(In ThousandDollars)')
g.fig.subplots_adjust(top=0.8)
g.fig.suptitle('Count of sales value in each category', fontsize=14)

From above plot we observed that Sales values are more for women clothing compared to other product category.

In [ ]:
# boxplot of a variable across various product categories
sns.boxplot(x='ProductCategory', y='Sales(In ThousandDollars)', data=Train_Data)
plt.yscale('log')
plt.title('Boxplot of variable across various product categories')
plt.xlabel('Product Categories')
plt.ylabel('Values')
plt.show()

So above plot dipicts that the sales of MenClothing are on an average, lower than the other two categories, whereas the sales of other clothing looks much better.Overall, sales of WomenClothing is very much consistent and very high compared to other two product categories.

In [ ]:
Train_Data

Checking the plot for growth of all 3 Category sales on yearwise.

In [ ]:
Women_Sales_Data = Train_Data.loc[Train_Data.ProductCategory == "WomenClothing" ,:]

In [ ]:
Women_Sales_Data

In [ ]:
Women_Sales_Data.plot()
plt.title("Sales for WomenClothing")
plt.legend().remove()
plt.show()

In [ ]:
Men_Sales_Data = Train_Data.loc[Train_Data.ProductCategory == "MenClothing" ,:]

In [ ]:
Men_Sales_Data

In [ ]:
Men_Sales_Data.plot()
plt.title("Sales for Men Clothing")
plt.legend().remove()
plt.show()

In [ ]:
Other_Sales_Data = Train_Data.loc[Train_Data.ProductCategory == "OtherClothing" ,:]

In [ ]:
Other_Sales_Data

In [ ]:
Other_Sales_Data.plot()
plt.title("Sales for Other Clothing")
plt.legend().remove()
plt.show()

#### 2) Event_Holidays Data

In [ ]:
EventHolidays_Data

Checking the Null values

In [ ]:
EventHolidays_Data.isnull().sum()

In [ ]:
plt.title('Count Values of Event and Federal Holiday Category')
plt.xlabel('values')
plt.ylabel('Categroy')
EventHolidays_Data["DayCategory"].value_counts().plot(kind='barh')

From above plot we visualize that Federal Holiday having count value more than 85 is Higher than count value of Event presiding at 62.

In [ ]:
plt.title('Count Values of different categories in Event column')
plt.xlabel(' Count values')
plt.ylabel('Categroy')
EventHolidays_Data["Event"].value_counts().plot(kind='barh')

From above plot we observed that 17 out of 23 categories of event columns has same count value 8.

**Resampling the data**

Resampling involves changing the frequency of your Data observations. Two types of resampling are: Upsampling and Downsampling. There are perhaps two main reasons why I am interested in resampling the data: 

    1.Problem Framing: Resampling may be required if data is available at the same frequency that we want to make predictions.
    2.Feature Engineering: Resampling can also be used to provide additional structure or insight into the learning problem for supervised learning models. So, Here we Resampled Data with 'M' which point outs to be Month End Frequency.

In [ ]:
# Converting 'Events' as 1 and 'Federal Holiday' as 4
#EventHolidays_Data['DayCategory'] = EventHolidays_Data['DayCategory'].map({'Event':1, 'Federal Holiday':4})
dummy_Data=pd.get_dummies(EventHolidays_Data['DayCategory'])

In [ ]:
dummy_Data

In [ ]:
EventHolidays_Data=dummy_Data

In [ ]:
EventHolidays_Data = EventHolidays_Data.resample('M').sum()

In [ ]:
EventHolidays_Data.head(10)

In [ ]:
EventHolidays_Data.tail(10)

#### 3) Macroeconomic Data

Checking for null values using Heatmap

In [ ]:
ax = plt.axes()
ax.set_title('Checking null values using HeatMap')
sns.heatmap(Macroeconomic_Data.isnull(), cbar=False, ax=ax)

Now We have to look for categorical and numerical variables in the data

In [ ]:
Macroeconomic_Data.dtypes

**Categorical variables:**

In [ ]:
print(Macroeconomic_Data["PartyInPower"].value_counts(), "\n")

The attribute 'PartyInPower' has only one category for all the instances and hence is not useful for the analysis.

In [ ]:
# Droping the column 'PartyInPower'
Macroeconomic_Data.drop('PartyInPower', axis=1,inplace=True)

In [ ]:
print(Macroeconomic_Data["AdvertisingExpenses (in Thousand Dollars)"].value_counts(), "\n")

The attribute 'AdvertisingExpenses (in Thousand Dollars)' has 88% of missing values which are denoted as '?'so will drop from our data.

In [ ]:
# Droping the column 'AdvertisingExpenses (in Thousand Dollars)'
Macroeconomic_Data.drop('AdvertisingExpenses (in Thousand Dollars)', axis=1,inplace=True)

In [ ]:
#Checking whether columns are dropped or not 
Macroeconomic_Data.info()

**Numerical Variables**:

In [ ]:
# Calculating the correlation of each variables
correlation = Macroeconomic_Data.corr()

### Ploting the correlation 
%matplotlib inline
plt.figure(figsize =(13,13))
sns.heatmap(data= correlation,cmap="YlGnBu", annot =True, square= True)
plt.title('The Correlation of each features in Macroeconomic dataset', fontsize= '20')
plt.show()

From above correlation graph we see that the dark blue boxes are the most correlated, we observed that most correlated pairs

    1.Exports-Cotton Monthly Price - US cents per Pound(lbs) (0.72) 
    2.Exports-Production (in 480-lb netweright in million bales)(0.64) 
    3.Also, Exports-Average upland harvested(million acres) (0.57) are quite correlated. 

We also note that this data is from a specific time period only. Thus, from a risk-minimisation point of view,we should not invest in these pairs , since if one goes down, the other is likely to go down as well (if one goes up, it will be benefited).

#### 4) Weather Data

Checking Null values and specific datatypes

In [ ]:
Weather_Data

In [ ]:
Weather_Data.dtypes

In [ ]:
Weather_Data.describe()

In [ ]:
#Counting WeatherEvent columns count value
Weather_Data['WeatherEvent'].value_counts()

In [ ]:
plt.title('Count Values of different categories in WeatherEvent column')
plt.xlabel(' Count values')
plt.ylabel('WeatherEvent')
Weather_Data['WeatherEvent'].value_counts().plot(kind='barh')

From above plot we observed that Rain has more count values and so it has most significant role in WeatherEvent

Checking for non-numeric characters in numeric variables

NOTE:- We find value T in 'Precip. (mm) sum' column so "T" stands for Trace. This is a small amount of precipitation that will wet a raingage but is less than the 0.01 inch measuring limit. Hence converting all the "T" values to 0.01

In [ ]:
# Converting the cells that have the value "T" to O.01
Weather_Data[Weather_Data.columns[18]] = Weather_Data[Weather_Data.columns[18]].apply(lambda x: 0.01 if x == 'T' else x)

In [ ]:
#Checking data having values '-'.
print((Weather_Data.iloc[:,:] =='-').sum())

In [ ]:
# Converting all cells that have the value "-" to NaN
Weather_Data = Weather_Data.applymap(lambda x: np.nan if x == '-' else x)

In [ ]:
Weather_Data.head(5)

In [ ]:
Weather_Data.tail(5)

In [ ]:
# Replacing the missing values in 'WeatherEvent' column to "NA"
Weather_Data.WeatherEvent.fillna(value="NotApplicable", inplace=True)

# Droping the rows having all columns as NaN
Weather_Data = Weather_Data[~Weather_Data["Temp high (°C)"].isnull()]

In [ ]:
Weather_Data.describe(include='all')

In [ ]:
Weather_Data.dtypes

In [ ]:
print("Size before dropping NaN rows",Weather_Data.shape,"\n")
Weather_Data = Weather_Data.dropna()
print("\nSize after dropping NaN rows",Weather_Data.shape)

In [ ]:
Weather_Data.isnull().sum()

In [ ]:
Weather_Data['WeatherEvent'].value_counts().plot(kind='barh')

In [ ]:
#count value  of WeatherEvent column
Weather_Data['WeatherEvent'].value_counts()

Around 95% are Not Applicable values in WeatherEvent so drop Column 'WeatherEvent"

In [ ]:
Weather_Data.drop(['WeatherEvent'],axis=1,inplace=True)

In [ ]:
#checking whether all datatypes are correct
Weather_Data.dtypes

Plotting correlation plot for Weather Data

In [ ]:
correlation_weather = Weather_Data.corr()

### Ploting the correlation 
%matplotlib inline
plt.figure(figsize =(12,12))
sns.heatmap(data= correlation_weather, annot =True, square= True)
plt.title('The Correlation of each features in Weather dataset', fontsize= '20')
plt.show()

Checking for Outliers in the data

In [ ]:
plt.figure(figsize=(40,50))
sns.boxplot(data=Weather_Data,orient='h',palette="Set2")
plt.show()

From above plot we observed that 10 columns has outliers in the data.

In [ ]:
Weather_Data.info()

In [ ]:
##Resampling the weather data with the mean of each month
Weather_Data_mean = Weather_Data.resample('M').mean()

In [ ]:
#Rename columns so that they have no spaces
Weather_Data_mean.columns = ['Temphigh', 'Tempavg', 'Templow', 'DewPointhigh','DewPointavg','DewPointlow','Humidityhigh',
                        'Humidityavg','Humiditylow','SeaLevelPresshigh','SeaLevelPressavg','SeaLevelPresslow','Visibilityhigh',
                         'Visibilityavg', 'Visibilitylow','Windlow','Windavg','Windhigh','Precipsum']
Weather_Data_mean.head()

In [ ]:
Weather_Data_mean.tail()

Removing Columns with High and Low Values as we have Average values which will make more weightage in prediction and No. of features get reduce.

In [ ]:
Weather_Data_mean.columns

In [ ]:
Weather_Data_mean=Weather_Data_mean.drop( ['Temphigh','Templow','DewPointhigh','DewPointlow', 'Humidityhigh','Humiditylow', 'SeaLevelPresshigh', 'SeaLevelPresslow','Visibilityhigh','Visibilitylow', 'Windlow','Windhigh'],axis = 1)

In [ ]:
Weather_Data_mean.info()

In [ ]:
Weather_Data_mean.shape

In [ ]:
EventHolidays_Data.shape

In [ ]:
Macroeconomic_Data.shape

#### Merging the DataFrames

Now,we had same shape(Number of rows) in all 3 Dataframes except Train Data. We will merge them before that we have to synchronise the Indexes of the dataframes

In [ ]:
# Synchronising the index before merging
EventHolidays_Data.index = Macroeconomic_Data.index
Weather_Data_mean.index = Macroeconomic_Data.index

In [ ]:
#Merging the data
Merged_Data = Macroeconomic_Data.join(Weather_Data_mean)
Merged_Data = Merged_Data.join(EventHolidays_Data)

In [ ]:
Merged_Data.shape

In [ ]:
Merged_Data.head(5)

Correlation plot of Merged_Data

In [ ]:
correlation_merge = Merged_Data.corr()

### Ploting the correlation 
%matplotlib inline
plt.figure(figsize =(25,25))
sns.heatmap(data= correlation_merge, annot =True, square= True)
plt.title('The Correlation of each features in Merged dataset', fontsize= '25')
plt.show()

Checking the top coorelated features having highest values

In [ ]:
def get_redundant_pairs(Merged_Data):
    '''Get diagonal and lower triangular pairs of correlation matrix'''
    pairs_to_drop = set()
    cols = Merged_Data.columns
    for i in range(0, Merged_Data.shape[1]):
        for j in range(0, i+1):
            pairs_to_drop.add((cols[i], cols[j]))
    return pairs_to_drop

def get_top_abs_correlations(Merged_Data, n=43):
    au_corr = Merged_Data.corr().abs().unstack()
    labels_to_drop = get_redundant_pairs(Merged_Data)
    au_corr = au_corr.drop(labels=labels_to_drop).sort_values(ascending=False)
    return au_corr[0:n]

print("Top Absolute Correlations")
print(get_top_abs_correlations(Merged_Data, 30))

In [ ]:
Merged_Data.to_csv("C:\\Users\\Riyaz Mehendi\\OneDrive - CriticalRiver Technologies Pvt. Ltd\\Desktop\\Retail_Sales_Forecast\\data\\processed\\Preprocessed_Merged_Data.csv")