## **Sales Forecasting of Retail Clothing Product Categories**

#### Input Parameters:

      ProductCategory-( Womens, Mens, Others)
      MonthlyNominalGDPIndexinMillion 
      MonthlyRealGDPIndexinMillion
      CPI 
      unemploymentrate
      CommercialBankInterestRateonCreditCardPlans
      FinanceRateonPersonalLoansatCommercialBanks24MonthLoan
      Earningsorwagesindollarsperhour
      CottonMonthlyPriceUScentsperPoundlbs
      Changein
      Averageuplandplantedmillionacres
      yieldperharvestedacre
      Millusein480lbnetwerightinmillionbales 
      Exports  
      SeaLevelPressavg 
      Visibilityavg
      Windavg 
      Precipsum
      Event 
      FederalHoliday

In [1]:
import os
import pandas as pd
import numpy as np
from sklearn import preprocessing
import joblib

In [2]:
os.getcwd()

'C:\\Users\\Riyaz Mehendi\\OneDrive - CriticalRiver Technologies Pvt. Ltd\\Desktop\\Retail_Sales_Forecast\\src\\demo'

In [3]:
project_path='C:\\Users\\Riyaz Mehendi\\OneDrive - CriticalRiver Technologies Pvt. Ltd\\Desktop\\Retail_Sales_Forecast'
processed_data='data\\processed'
processed_file_name='Merged_Data.csv'

In [4]:
processed_file_path=os.path.join(project_path,processed_data,processed_file_name)

In [5]:
Data=pd.read_csv(processed_file_path)

In [6]:
Data=Data.sample(n =5)

In [7]:
Data.reset_index(drop=True, inplace=True)

In [8]:
Data

,ProductCategory,SalesInThousandDollars,MonthlyNominalGDPIndexinMillion,MonthlyRealGDPIndexinMillion,CPI,unemploymentrate,CommercialBankInterestRateonCreditCardPlans,FinanceRateonPersonalLoansatCommercialBanks24MonthLoan,Earningsorwagesindollarsperhour,CottonMonthlyPriceUScentsperPoundlbs,...,Exports,Tempavg,DewPointavg,Humidityavg,SeaLevelPressavg,Visibilityavg,Windavg,Precipsum,Event,FederalHoliday
0,MenClothing,800.0,18075.281412,16434.482376,261.066,5.5,12.04,9.69,24.88,72.86,...,10.300,20.483871,9.870968,56.709677,1020.290323,14.032258,6.806452,1.524839,1,1
1,MenClothing,587.0,15547.854452,15011.761411,249.164,9.0,12.89,11.37,22.94,149.25,...,11.325,26.870968,18.322581,63.838710,1012.806452,13.032258,6.870968,2.483226,0,1
2,OtherClothing,936.0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,...,11.550,-2.096774,-9.903226,57.354839,1015.967742,14.000000,12.000000,2.443226,0,2
3,OtherClothing,955.0,14590.432252,14559.410173,238.777,9.9,13.60,11.20,22.44,71.78,...,9.950,10.800000,4.166667,66.600000,1019.033333,14.666667,11.133333,1.364333,0,2
4,OtherClothing,1261.0,18317.816120,16601.489879,261.887,5.0,12.10,9.80,25.05,68.74,...,9.700,23.700000,14.400000,58.633333,1018.300000,14.766667,7.033333,2.777333,0,1

In [9]:
Data= Data.drop(['Averageuplandharvestedmillionacres','Productionin480lbnetwerightinmillionbales',
                                                 'Tempavg','DewPointavg','Humidityavg','SalesInThousandDollars'],axis=1)

In [10]:
Data

,ProductCategory,MonthlyNominalGDPIndexinMillion,MonthlyRealGDPIndexinMillion,CPI,unemploymentrate,CommercialBankInterestRateonCreditCardPlans,FinanceRateonPersonalLoansatCommercialBanks24MonthLoan,Earningsorwagesindollarsperhour,CottonMonthlyPriceUScentsperPoundlbs,Changein,Averageuplandplantedmillionacres,yieldperharvestedacre,Millusein480lbnetwerightinmillionbales,Exports,SeaLevelPressavg,Visibilityavg,Windavg,Precipsum,Event,FederalHoliday
0,MenClothing,18075.281412,16434.482376,261.066,5.5,12.04,9.69,24.88,72.86,1.62,10.845,826,3.625,10.300,1020.290323,14.032258,6.806452,1.524839,1,1
1,MenClothing,15547.854452,15011.761411,249.164,9.0,12.89,11.37,22.94,149.25,-7.10,13.436,785,3.770,11.325,1012.806452,13.032258,6.870968,2.483226,0,1
2,OtherClothing,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,799,4.170,11.550,1015.967742,14.000000,12.000000,2.443226,0,2
3,OtherClothing,14590.432252,14559.410173,238.777,9.9,13.60,11.20,22.44,71.78,7.42,8.989,767,3.370,9.950,1019.033333,14.666667,11.133333,1.364333,0,2
4,OtherClothing,18317.816120,16601.489879,261.887,5.0,12.10,9.80,25.05,68.74,-4.29,8.398,777,3.675,9.700,1018.300000,14.766667,7.033333,2.777333,0,1

In [11]:
Data.shape

(5, 20)

In [12]:
Data.dtypes

ProductCategory                                            object
MonthlyNominalGDPIndexinMillion                           float64
MonthlyRealGDPIndexinMillion                              float64
CPI                                                       float64
unemploymentrate                                          float64
CommercialBankInterestRateonCreditCardPlans               float64
FinanceRateonPersonalLoansatCommercialBanks24MonthLoan    float64
Earningsorwagesindollarsperhour                           float64
CottonMonthlyPriceUScentsperPoundlbs                      float64
Changein                                                  float64
Averageuplandplantedmillionacres                          float64
yieldperharvestedacre                                       int64
Millusein480lbnetwerightinmillionbales                    float64
Exports                                                   float64
SeaLevelPressavg                                          float64
Visibilityavg                                             float64
Windavg                                                   float64
Precipsum                                                 float64
Event                                                       int64
FederalHoliday                                              int64
dtype: object

#### Enter the Inputs

In [13]:
index=int(input('Please select a row number from 0 to 4 to choose your input: ' ))

Please select a row number from 0 to 4 to choose your input: 3

In [14]:
Data=Data.loc[index]

In [15]:
Data

ProductCategory                                           OtherClothing
MonthlyNominalGDPIndexinMillion                            14590.432252
MonthlyRealGDPIndexinMillion                               14559.410173
CPI                                                             238.777
unemploymentrate                                                    9.9
CommercialBankInterestRateonCreditCardPlans                        13.6
FinanceRateonPersonalLoansatCommercialBanks24MonthLoan             11.2
Earningsorwagesindollarsperhour                                   22.44
CottonMonthlyPriceUScentsperPoundlbs                              71.78
Changein                                                           7.42
Averageuplandplantedmillionacres                                  8.989
yieldperharvestedacre                                               767
Millusein480lbnetwerightinmillionbales                             3.37
Exports                                                            9.95
SeaLevelPressavg                                            1019.033333
Visibilityavg                                                 14.666667
Windavg                                                       11.133333
Precipsum                                                      1.364333
Event                                                                 0
FederalHoliday                                                        2
Name: 3, dtype: object

In [16]:
Data.dtypes

dtype('O')

#### Processing user input

In [17]:
Data = pd.DataFrame(Data).transpose()

In [18]:
## converting text data into numerical
Data.replace({'MenClothing': 0, 'WomenClothing': 1,'OtherClothing':2},inplace=True)

In [19]:
Data

,ProductCategory,MonthlyNominalGDPIndexinMillion,MonthlyRealGDPIndexinMillion,CPI,unemploymentrate,CommercialBankInterestRateonCreditCardPlans,FinanceRateonPersonalLoansatCommercialBanks24MonthLoan,Earningsorwagesindollarsperhour,CottonMonthlyPriceUScentsperPoundlbs,Changein,Averageuplandplantedmillionacres,yieldperharvestedacre,Millusein480lbnetwerightinmillionbales,Exports,SeaLevelPressavg,Visibilityavg,Windavg,Precipsum,Event,FederalHoliday
3,2,14590.432252,14559.410173,238.777,9.9,13.6,11.2,22.44,71.78,7.42,8.989,767,3.37,9.95,1019.033333,14.666667,11.133333,1.364333,0,2

In [20]:
# label_encoder
#label_encoder = preprocessing.LabelEncoder()

In [21]:
#Data['ProductCategory']= label_encoder.fit_transform(Data['ProductCategory'])

In [22]:
os.chdir('C:\\Users\\Riyaz Mehendi\\OneDrive - CriticalRiver Technologies Pvt. Ltd\\Desktop\\Retail_Sales_Forecast\\src\\models')

#### Loading the model and Predicting on user inputs

In [23]:
# Load the model from the file
my_Model = joblib.load('TunedXGB_Model.pkl')

C:\Users\Riyaz Mehendi\anaconda3\envs\venv1\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [24]:
Result=my_Model.predict(Data)

C:\Users\Riyaz Mehendi\anaconda3\envs\venv1\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

#### Output

In [25]:
print("The sales value for choosen category input is:", int(Result))

The sales value for choosen category input is: 2526