In [1]:
import pyodbc
import pandas as pd

In [2]:
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [3]:
conn= pyodbc.connect(Driver='{SQL Server}',
    Server='cr-devopsassessment.database.windows.net',
    Database='ml-usecases-db',
    uid='crmlteam',
    pwd='P455w0rd@123') 
cursor=conn.cursor()

In [4]:
df= pd.read_csv("C:\\Users\\Riyaz Mehendi\\OneDrive - CriticalRiver Technologies Pvt. Ltd\\Desktop\\Retail_Sales_Forecast\\data\\external\\Final_Dashbaord_Data_Raw.csv")

In [5]:
df

,Id,ProductCategory,MonthlyNominalGDPIndexinMillion,MonthlyRealGDPIndexinMillion,CPI,unemploymentrate,CommercialBankInterestRateonCreditCardPlans,FinanceRateonPersonalLoansatCommercialBanks24MonthLoan,Earningsorwagesindollarsperhour,CottonMonthlyPriceUScentsperPoundlbs,...,Averageuplandplantedmillionacres,yieldperharvestedacre,Millusein480lbnetwerightinmillionbales,Exports,SeaLevelPressavg,Visibilityavg,Windavg,Precipsum,Event,FederalHoliday
0,1,1,16208.31476,15292.34986,254.277,7.8,11.95,10.37,23.52,81.95,...,12.121,782,3.375,10.875,1014.193548,13.451613,7.903226,2.393548,1,1
1,2,2,14340.70164,14351.78682,235.067,8.7,12.97,11.05,22.22,51.50,...,9.296,799,3.720,11.650,1021.064516,14.258065,11.387097,1.434194,0,0
2,3,2,17733.02446,16221.18013,258.080,5.6,11.99,10.47,24.59,68.30,...,10.818,760,3.775,9.450,1019.500000,13.100000,10.900000,5.038000,2,1
3,4,1,16685.74225,15606.00807,257.326,7.3,11.95,10.34,23.81,92.62,...,10.025,815,3.475,10.350,1016.774194,13.129032,7.000000,2.327097,0,1
4,5,2,15740.54453,15148.82220,248.307,8.5,12.36,10.36,23.22,95.45,...,14.431,757,3.575,10.650,1020.633333,14.666667,9.533333,3.386333,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,248,0,16411.02602,15498.65207,253.555,7.9,11.88,10.64,23.85,83.37,...,12.121,781,3.375,11.075,1015.580645,12.322581,10.483871,3.933548,2,1
248,249,1,15019.23526,14833.74928,241.147,9.4,13.84,11.00,22.41,84.15,...,10.700,836,3.370,13.800,1014.100000,14.966667,7.600000,2.202333,0,2
249,250,1,16503.91568,15554.42688,254.807,8.0,11.88,10.64,23.88,85.51,...,12.077,849,3.380,11.475,1019.806452,13.258065,10.322581,2.262581,0,2
250,251,1,15219.05904,14945.42709,241.981,9.4,13.59,10.71,22.70,126.55,...,10.829,835,3.570,15.025,1011.766667,14.166667,10.200000,4.158000,1,1
251,252,1,14613.99148,14551.02484,238.970,9.8,13.60,11.20,22.51,77.40,...,9.008,763,3.370,10.400,1014.533333,14.766667,11.633333,1.720667,0,2

In [6]:
df.columns

Index(['Id', 'ProductCategory', 'MonthlyNominalGDPIndexinMillion',
       'MonthlyRealGDPIndexinMillion', 'CPI', 'unemploymentrate',
       'CommercialBankInterestRateonCreditCardPlans',
       'FinanceRateonPersonalLoansatCommercialBanks24MonthLoan',
       'Earningsorwagesindollarsperhour',
       'CottonMonthlyPriceUScentsperPoundlbs', 'Changein',
       'Averageuplandplantedmillionacres', 'yieldperharvestedacre',
       'Millusein480lbnetwerightinmillionbales', 'Exports', 'SeaLevelPressavg',
       'Visibilityavg', 'Windavg', 'Precipsum', 'Event', 'FederalHoliday'],
      dtype='object')

In [8]:
for row in df.itertuples():
    cursor.execute(''' INSERT INTO tbl_Raw_Retail_Sales(Id,ProductCategory,MonthlyNominalGDPIndexinMillion,
       MonthlyRealGDPIndexinMillion,CPI,unemploymentrate,
       CommercialBankInterestRateonCreditCardPlans,FinanceRateonPersonalLoansatCommercialBanks24MonthLoan,
       Earningsorwagesindollarsperhour,
       CottonMonthlyPriceUScentsperPoundlbs,Changein,
       Averageuplandplantedmillionacres, yieldperharvestedacre,
       Millusein480lbnetwerightinmillionbales,Exports,SeaLevelPressavg,
       Visibilityavg,Windavg,Precipsum,Event,FederalHoliday)
    values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)''',
                   row.Id,
                   row.ProductCategory,
                   row.MonthlyNominalGDPIndexinMillion,
                   row.MonthlyRealGDPIndexinMillion,
                   row.CPI,
                   row.unemploymentrate,
                   row.CommercialBankInterestRateonCreditCardPlans,
                   row.FinanceRateonPersonalLoansatCommercialBanks24MonthLoan,
                   row.Earningsorwagesindollarsperhour,
                   row.CottonMonthlyPriceUScentsperPoundlbs,
                   row.Changein,
                   row.Averageuplandplantedmillionacres,
                   row.yieldperharvestedacre,
                   row.Millusein480lbnetwerightinmillionbales,
                   row.Exports,
                   row.SeaLevelPressavg,
                   row.Visibilityavg,
                   row.Windavg,
                   row.Precipsum,
                   row.Event,
                   row.FederalHoliday
                   )
    conn.commit()

In [21]:
df_pred= pd.read_csv("C:\\Users\\Riyaz Mehendi\\OneDrive - CriticalRiver Technologies Pvt. Ltd\\Desktop\\Retail_Sales_Forecast\\data\\external\\Final_Dashbaord_Data_Predicted.csv")

In [22]:
df_pred

     Prediction_Id  SalesInThousandDollars
0                1                  3168.0
1                2                   921.0
2                3                  1967.0
3                4                  3320.0
4                5                  1596.0
..             ...                     ...
247            248                  1080.0
248            249                  2749.0
249            250                  2320.0
250            251                  3071.0
251            252                  2142.0

[252 rows x 2 columns]

In [23]:
df_pred.dtypes

Prediction_Id               int64
SalesInThousandDollars    float64
dtype: object

In [24]:
for row in df_pred.itertuples():
    cursor.execute(''' INSERT INTO tbl_Prediction_Retail_Sales(Prediction_Id,SalesInThousandDollars)
    values(?,?)''',
                   row.Prediction_Id,
                   row.SalesInThousandDollars
                   )
    conn.commit()